*,
*::after
*::before {
    margin:  0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    font-weight: 40rem 90rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $black;
    background-color: $light-grey;
    margin: 0;
   
}
section {
    box-sizing: border-box; 
    margin: 2rem;
    padding: 2rem;
}

