.rustica {
    display: flex;
    top: -35rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.cafe-fair {
    container-1-4{
       display: grid; 
       grid-template-rows: minmax( 150px, min-content);
       grid-template-columns: min-content;

       &--1{
        align-content: center;

       }


    }
}
.sorten {
    background-color: $black;
    

    .u-heading-second {
        color: $white;
    }
    .kaffee-costarica {
        margin: 1rem;
    }
}
.herkunft {
    background-image: url(images/src/images/FEND-Coffee-bags-2.png);
    background-size: cover;
    background-position: center;

}