.rustica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: $white;
    position: relative;
}
.button-dark {
    color: $anthrazit;
    position: absolute;
    bottom: 10vh;
    
}
