.button {
    
    --dark {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        color: $white;
        border: $black;
        border-radius: 5px;
        border: 2px;
        width: 11rem;
        padding: 1rem;
    }
    --header {
        //display: flex;
        //justify-content: center;
        //background-color: $black;
        //color: $white;
        //border: $black;
       //border-radius: 5px;
        border: 3px;
        position: absolute;
        bottom: -10vh;
        width: 11rem;
        padding: 1rem;
    }
    --hell {
        display: flex;
        justify-content: center;
        background-color: $black;
        color: $white;
        border: $white;
        border-radius: 5px;
        border: 2px;
        width: 11rem;
        padding: 1rem;
    }   
    --transparent {
        display: flex;
        justify-content: center;
        background-color: transparent;
        color: $white;
        border: $black;
        border-radius: 5px;
        border: 2px;
        width: 11rem;
        padding: 1rem;
    }
}
