.header {
    background-image: url("/images/FEND-Coffee-latte-art-3.png");
    background-size: cover;
    background-position: center;
    height: 75vh;
    ::after {
        content: fill;
        background-color: rgba(0, 0, 0, 0.5);
        //opacity: $black 6%;
    }
.nav .main  {
    position: relative;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    max-width: 100vw;
    background-color: $white;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    z-index: 1;

        &--logo {
            display: inline-block;
            //align-items: space-around;
        }
        &.menue .burger {
            display: inline-block;
            margin: 0;
            padding: 0;
            z-index: 1;
            &--ul {
                list-style: none;
    
                &--li {
                    color: green; 
                }
            }  
        } 
    
    }   
}
    