.header {
    background-image: url("/images/FEND-Coffee-latte-art-3.png");
    background-size: cover;
    background-position: center;
    height: 75vh;
    //fill: opacify( $color: $black , 30%);

.nav-bar {
            max-width: 0 auto;
            display: flex;
            background-color: $white;
            align-content: center;
            align-items: space-around;
        }
        &-logo, 
        &-burger-menue {
            color: green;
            
        }
}
    