.header {
    background-image: url("/images/FEND-Coffee-latte-art-3.png");
    background-size: cover;
    background-position: center;
    height: 75vh;
    //content: fill;
    background-color: rgba(0, 0, 0, 0.5);
    //opacity: $black 6%;
   // ::after {
        
   // }
.navigation  {
    position: relative;
    display: flex;
    max-width: 100vw;
    background-color: $white;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    z-index: 1;

    .logo {
        display: inline-block;
        min-width: 45%;
        color: red;
        //align-items: space-around;
    }
    .burger {
        min-width: 45%;
        margin: 0;
        padding: 0;
        z-index: 1;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                display: inline-block;
                color: green; 
            }
        }  
    } 
    
}   
}
    