.navigation {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: $white;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    z-index: 1000;

    .logo {
        display: inline-block;
        height: 35px;
        width: 35px;
        color: red;
        //align-items: space-around;
    }
    .burger {
        min-width: 45%;
        margin: 0;
        padding: 0;
        z-index: 1;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                display: inline-block;
                color: green; 
            }
        }  
    } 
    
}   